<!--Titulo-->
<div class="menu-div menu-div-dimensions">
  <div class="title-div">
    <i class="bi bi-book-half title-book"></i>
    <h2>Contato</h2>
  </div>

  <div class="sub-menu">
    <p class="subtitle">Para contato ou esclarecimentos:</p>
    <div class="content">
      <p><i class="fa-solid fa-envelope"></i> Email: victorgargur@gmail.com</p>
      <p><i class="fa-brands fa-whatsapp"></i> Whatsapp: (71) 99106-5700</p>
      <p>
        <i class="fa-brands fa-linkedin"></i> Linkedin:
        <a
          href="https://www.linkedin.com/in/victor-gargur-2a819219b/"
          target="_blank"
          >Clique Aqui</a
        >
      </p>
      <p>
        <i class="fa-brands fa-github"></i> Github:
        <a href="https://www.github.com/victor-gargur" target="_blank"
          >Clique Aqui</a
        >
      </p>
    </div>
  </div>
  <button class="btn btn-secondary" routerLink="/home">Voltar</button>
</div>
