<!--Titulo-->
<div class="menu-div menu-div-dimensions">
  <div class="title-div">
    <i class="bi bi-book-half title-book"></i>
    <h2>Gestão para Alunos</h2>
  </div>
  <!--Menu Acesso-->
  <div class="sub-menu">
    <p class="subtitle">Menu</p>
    <!--Button Area Opções-->
    <button
      type="button"
      class="btn btn-primary"
      routerLink="/aluno/criar-cadastro"
    >
      Cadastrar um Aluno
    </button>
    <button
      type="button"
      class="btn btn-primary"
      routerLink="/aluno/lista-cadastros"
    >
      Acessar a lista de Alunos
    </button>
    <button type="button" class="btn btn-primary" routerLink="/contato">
      Contato
    </button>
  </div>
</div>
